h1 {
color: rgb(92, 61, 121);
text-align: center;
background-color: rgb(170, 203, 231);
border-radius: 20px;
border: 2px solid red;








}
.a{
color: red;

}
h2 {
color: darkolivegreen;


}
.d {
color: darkolivegreen;
background-color: yellow;
text-align: center;
}
.r {
width: 500px;

}
.e {
width: 500px;
height: 360px;
}
.i {
width: 1200px;
height: 50px;
}
button {
color: white;
font-size: 30px;
background-color: rgb(85, 155, 199);
width: 250px;
}
table,tr,td {
border: 1px solid grey;
text-align: center;
width: 1200px;
border-collapse: collapse;
}
.w {
width: 100px;
    background-color: red;
color: white;


}
.C {
color: white;
background-color: green;
}
.Q {
color: white;
background-color: blue;

}
.s {
color: white;
background-color: black;

}




















































